body {
    background-color: rgb(50, 214, 255);
    font-size: normal 15pt;
}

header {
    color: white;
    text-align: center;
    margin-top: 30px;
}
section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(11, 11, 11, 0.188);
    margin-top: 10px;
}

footer {

    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
}

.coisas-dentro {
    margin-top: 15px;
}

.texto-inicio {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-fim {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.passos {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.botao {
    background-color: green;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
}

.contando {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}