body {
    background-color: pink;
    font-size: normal 15pt;
}

header {
    color: white;
    text-align: center;
}
section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 529px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(11, 11, 11, 0.188);
}

div {
    text-align: center;
    padding: 5px;
}

footer {

    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
}

img {
    width: 140px;
}